Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  portability-*,
  -modernize-use-trailing-return-type
WarningsAsErrors: 'clang-analyzer-*'
HeaderFilterRegex: '^(include|src|apps|tests)/'
FormatStyle: file

